* {
    border: 1px solid rgb(156, 123, 123);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#profile-picture {
    border-radius: 100%;
}

#linkedin {
    font-size: large;    
}

#javascript {
    color: rgb(219, 168, 37);
}

#whatsapp {
    font-size: large;
}

#linkedin a {
    text-decoration: none;
    color: darkblue;
}

#whatsapp a {
    text-decoration: none;
    color: green;
}